:root { /*variables*/
  --textColor: #1675fa;
  --backgroundColor: #07182c;

  --textOpacity: 1.0;
  --backgroundOpacity: 0.7;
}

@font-face { /*Poppins font*/
  font-family: Poppins;
  src: url(font/Poppins-Regular.ttf);
}

body {
  color: var(--textColor);
  background-color: #00000000;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 30px;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

overlay {
  height: 75px;
  width: 200px;
  padding: 0px 10px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 175px;
  background-color: var(--backgroundColor);
}